.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 1rem;
}

.main-nav {
  display: flex;
  gap: 7px;
  box-shadow: 1px 1px 1px 1px rgba(34, 60, 80, 0.3);
  background: #fff;
  border-radius: 4px;
  padding-left: 7px;
}

.time-styles {
  width: 150px;
}

.institution-form {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.form-block {
  display: flex;
  flex-direction: column;

  gap: 15px;
  padding: 20px;
  width: 700px;
  margin: 1%;
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  width: 700px;
  margin: 1%;
}

.institution-btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.form-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.search-list {
  border: 1px solid #ddd;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-list:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.phone-input {
  width: 97%;
  box-sizing: border-box !important;
  border: 1px solid #C0C0C0;
  padding: 18px 0 18px 50px;
  font-size: 14px;
  border-radius: 3px;
}

.phone-input:hover:not(:focus) {
  border: 1px solid #000; /* Цвет границы при наведении */
}

.phone-input:focus {
  outline: 2px solid #29a130; /* Цвет границ инпута при активном фокусе */
  border: none; /* убираем границу */
}

.phone-input.error-border {
  border: 1px solid #ff0000; /* Цвет границы при ошибке */
}

.phone-input.error-border:hover:not(:focus) {
  border: 1px solid #ff0000; /* Цвет границы при наведении без фокуса*/
}

.phone-input.error-border:focus {
  outline: 2px solid red; /* Цвет границ инпута при активном фокусе */
  border: none; /* убираем границу */
}

.phone-input.error-text {
  color: #ff0000;
}

.phone-block {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-social-block {
  display: flex;
  border: 2px solid #000;
  border-radius: 5px;
  margin-right: 10px;
}

.social-media-style {
  display: flex;
  align-items: center;
  /*border: 1px solid #000;*/
}

.social-media-style .no-img {
  display: none;
}

.social-media-style img {
  width: 36px;
  margin: 2px;
}

.open-close-style {
  display: flex;
  align-items: center;
  padding: 8px 8px;
  border: 2px solid #000;
  border-radius: 10px;
}

.open-close-margin {
  margin-right: 10px;
}

.open-close-new-margin {
  margin-right: 3px;
}

.twenty-hours {
  display: flex;
  align-items: center;
}

.close-icon-btn {
  color: #ccc;
}

.set-time-block {
  display: flex;
  justify-content: space-evenly;
}

.warning-phone-block {
  color: #031b6a;
  line-height: 1;
  font-size: 14px;
  margin: 5px 50px 0 10px;
}

.opening-edit-profile-window {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  z-index: 5;
}

.profile-edit-gray-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: gray;
  z-index: 1;
}


